.spacer {
  flex: 1 1 auto;
}

.line-spacer {
  border-right: solid 1px #909090;
  height: calc(100% - 30px);
  margin: 0 25px;
}

footer {
  padding: 10px 20px;
  margin: 0;
  background: #f5f5f5;
  font-weight: 100;
  font-size: 14px;
}